/* SCSS HSL */
$maximum-blue: hsla(196, 50%, 53%, 1);
$royal-purple: hsla(259, 43%, 53%, 1);
$amber-sae-ece: hsla(29, 100%, 50%, 1);
$salmon-pink: hsla(351, 80%, 76%, 1);
$columbia-blue: hsla(201, 65%, 88%, 1);

$primary: $salmon-pink;
$accent: $amber-sae-ece;

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-right: linear-gradient(
  90deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-left: linear-gradient(
  270deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
$gradient-radial: radial-gradient(
  #4ba3c3ff,
  #7353baff,
  #ff7d00ff,
  #f391a0ff,
  #cce6f4ff
);
